# Brent Ramirez: Exploratory Data Analysis Project

Author: Brent Ramirez
Purpose: Experiment with data analysis via Jupyter notebook
Date: 5/30/25

In [8]:
import pandas as pd
import seaborn as sns
import matplotlib
from matplotlib.axes import Axes

In [9]:
iris_df: pd.DataFrame = sns.load_dataset('iris')

iris_df.columns

iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa